<% if type == :new %>
  <%  action_url = users_url %>
  <%  button_val = "Musical Journey START!"%>
<% elsif type == :login %>
  <%  action_url = session_url%>
  <%  button_val = "Show me your moves!"%>
<% end%>


<form class="user" action="<%= action_url%>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token  %>">
  <label class="prompt">E-mail:
    <input class="user_input" type="email" name="user[email]" value="">
  </label>
  <br>

  <label class="prompt">Password:
    <input class="user_input" type="password" name="user[password]" value="">
  </label>
  <br>
  <input class="user_input" type="submit" value="<%= button_val  %>">
</form>
