p.header {
  color: Red;
  font-family: "Courier New", Courier, monospace;
  font-size: 26px;
}

nav {
  display: inline-block;
  text-align: right;
  width: 80%;
}

.text_shadow {
  text-shadow: black 0 -2px;
}

.prompt {
  text-shadow: red 0 -1px;
}

header {
  display: flex;
  align-items: center;
}

.navlinks {
  background-color: Aqua;
  border: 5px, Black;
  border-radius: 25px, 25px;
}

.links {
  font-size:large;
}
.user_input {
  display: block;
}

label {
  font-size: 16px;
  color: Teal;
}

.center {
  display: inline-block;
  text-align: right;
  width: 50%;
}
